# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# terraform
.terraform/providers/registry.terraform.io/hashicorp/google/5.34.0/windows_amd64/terraform-provider-google_v5.34.0_x5.exe
terraform.tfvars
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/google/5.34.0/windows_amd64/LICENSE.txt
terraform/env/production/.terraform
terraform/env/develop/.terraform/providers/registry.terraform.io/hashicorp/google/5.34.0/windows_amd64/terraform-provider-google_v5.34.0_x5.exe
terraform/env/develop/.terraform/modules/modules.json
terraform/env/develop/.terraform/providers/registry.terraform.io/hashicorp/google/5.34.0/windows_amd64/LICENSE.txt

# local dev glcoud service account keys
/service_account_key_files
